body {
    background-image: url(/images/landing.gif);
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 1.5vw;
    margin: 0;
}
p {
    font-size: 0.7vw;
    color: rgb(61, 17, 102);
}

p a {
    color: black;
}

.center {
    font-size: 3vw;
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    position: absolute;
    top: 32vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ito {
    height: 75vh;
    width: auto;
    text-align: center;
    font-family: 'apple_regular';
    color: white;
}

.ito img{
    width: auto;
    position: relative;
    text-align: center;
}

.supdom {
    height: 5vh;
}

@media only screen and (max-width:768px) {
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 2.5vw;
    }

    .ito img {
        width: 60vw;
    }

    .center {
        font-size: 3vh;
          top: 75vw;
    }
}