* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'apple_regular',"Poppins", sans-serif;
}

.sidebar {
  background-image: url(/images/sidebar.gif);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30vw;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar .nav-links {
  height: 100%;
  overflow: auto;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  margin-top: 5.5vw;
  list-style: none;
  transition: all 0.4s ease;
  background: black;
}
.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .icon-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 1vw;
  font-weight: 400;
  color: white;
  transition: all 0.4s ease;
}
.home-section {
  position: relative;
  background-image: url(/images/background.webp);
  color: white;
  height: 100vh;
  left: 30vw;
  width: calc(100% - 30vw);
  transition: all 0.5s ease;
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid mediumvioletred;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: black;
  font-size: 35px;
  margin-top: 5px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
.icona {
  width: 5vw;
  text-align: center;
}
.icona img {
  height: 5vw;
}
.intex {
  position: relative;
  right: 2vw;
}
.icona h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.ineficss {
  margin-left: auto;
  margin-right: auto;
  color: fuchsia;
  font-size: 2vw;
}
.itotxt {
  margin-right: auto;
  margin-left: auto;
}
.actcontent {
  margin-top: 2vw;
  text-align: center;
}
.actcontent h3 {
  display: inline;
}
.cat {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 1.5vw;
}
.enjo {
  margin-top: 11vw;
}
@media (max-width:  900px) {
  .home-section {
    left: calc(0vw + 40vw);
    width: 60vw;
  } 
  .home-section .home-content { 
    border: 0px white;
  }
  .sidebar .icona img {
    display: none;
  }
  .ineficss{
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw !important;
  }
  .sidebar .nav-links li {
    margin-top: 22.5vw;
    line-height: 15vw;
  }
  .sidebar {
    width: 40vw;
  }
  .itotxt {
    width: 100vw;
    border-bottom: 5px solid mediumvioletred;
  }
  .actcontent {
    margin-top: 13vw;
  }
}

@media (max-height:  1280px) {
  .sidebar {
    background-size: cover;
    background-position: 55% 75%;
  }
}